/* style.css */

/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set font family and background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style the h1 element in the header */
header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the search input field */
#searchInput {
    padding: 10px;
    width: 15%;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Style the search button */
#searchButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the movie cards */
.movie-card {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    display: inline-block;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Style the movie card content */
.movie-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.movie-card p {
    margin: 0;
    font-size: 14px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
}
.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

